(
    creation_location: (
        line: 8,
        column: 18,
        file: "arc_repro/src/blueprint.rs",
    ),
    constructors: [
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "crate::build_shared_dep",
                ),
                location: (
                    line: 10,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "crate::MiddlewareDep::new",
                ),
                location: (
                    line: 13,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::query::QueryParams::extract",
                ),
                location: (
                    line: 33,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::query::errors::ExtractQueryParamsError::into_response",
                ),
                location: (
                    line: 37,
                    column: 6,
                    file: "arc_repro/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::route::RouteParams::extract",
                ),
                location: (
                    line: 42,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::route::errors::ExtractRouteParamsError::into_response",
                ),
                location: (
                    line: 46,
                    column: 6,
                    file: "arc_repro/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::body::JsonBody::extract",
                ),
                location: (
                    line: 51,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::body::errors::ExtractJsonBodyError::into_response",
                ),
                location: (
                    line: 55,
                    column: 6,
                    file: "arc_repro/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::body::BufferedBody::extract",
                ),
                location: (
                    line: 58,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "arc_repro",
                    import_path: "pavex::request::body::errors::ExtractBufferedBodyError::into_response",
                ),
                location: (
                    line: 62,
                    column: 6,
                    file: "arc_repro/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "<pavex::request::body::BodySizeLimit as std::default::Default>::default",
                ),
                location: (
                    line: 65,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
        ),
        (
            constructor: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "crate::telemetry::RootSpan::new",
                ),
                location: (
                    line: 73,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
        ),
    ],
    middlewares: [
        (
            middleware: (
                callable: (
                    registered_at: "arc_repro",
                    import_path: "crate::telemetry::logger",
                ),
                location: (
                    line: 79,
                    column: 8,
                    file: "arc_repro/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        ),
    ],
    routes: [],
    fallback_request_handler: None,
    nested_blueprints: [
        (
            blueprint: (
                creation_location: (
                    line: 15,
                    column: 25,
                    file: "arc_repro/src/blueprint.rs",
                ),
                constructors: [],
                middlewares: [
                    (
                        middleware: (
                            callable: (
                                registered_at: "arc_repro",
                                import_path: "crate::middleware",
                            ),
                            location: (
                                line: 17,
                                column: 15,
                                file: "arc_repro/src/blueprint.rs",
                            ),
                        ),
                        error_handler: None,
                    ),
                ],
                routes: [
                    (
                        path: "/api/ping",
                        method_guard: (
                            inner: Some((
                                bitset: 256,
                                extensions: [],
                            )),
                        ),
                        request_handler: (
                            callable: (
                                registered_at: "arc_repro",
                                import_path: "crate::routes::status::ping",
                            ),
                            location: (
                                line: 23,
                                column: 15,
                                file: "arc_repro/src/blueprint.rs",
                            ),
                        ),
                        error_handler: None,
                    ),
                ],
                fallback_request_handler: None,
                nested_blueprints: [],
            ),
            path_prefix: None,
            nesting_location: (
                line: 25,
                column: 8,
                file: "arc_repro/src/blueprint.rs",
            ),
        ),
    ],
)